<div class="detailImageWrapper">
    <img src="<%= articles.urlToImage %>" alt="<%= articles.title %>">
    <h2>
        This is a comment about the article. I am of the opinion that this article is wrong! I don't agree with what has
        been said here whatsoever.
    </h2>
    <p>
        Maandag 12 juni
    </p>
    <h1>
        <%= articles.title %>
    </h1>
</div>
<div class="detailContent">
    <p>
        Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst die eigenlijk nergens over gaat. Het grappige is, dat mensen deze toch vaak lezen. Zelfs als men weet dat het om een faketekst gaat, lezen ze toch door.
    </p>
    <section class="textComment">
        Dit is een comment. Ik schrijf hier mijn mening over het artikel of onderwerp. Als mensen mijn comment lezen krijgen ze een idee over wat ik vind.
    </section>
    <p>
        Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst die eigenlijk nergens over gaat. Het grappige is, dat mensen deze toch vaak lezen. Zelfs als men weet dat het om een faketekst gaat, lezen ze toch door.
    </p>
</div>
