<div class="detailImageWrapper">
    <img src="<%= articles.urlToImage %>" alt="<%= articles.title %>">
    <h2>
        This is a comment about the article. I am of the opinion that this article is wrong! I don't agree with what has
        been said here whatsoever.
    </h2>
    <p>
        Maandag 12 juni
    </p>
    <h1>
        <%= articles.title %>
    </h1>
</div>
