<h2 class="commentsHeader">
    Comments
</h2>
<ul id="comments" class="commentsList">
    <li><%= comments.comment %></li>
</ul>
<form action="" id="commentForm" class="commentsForm">
    <input type="text" id="commentInput" autocomplete="off" />
    <input type="submit">
</form>
