<ul id="comments" class="commentsList">
    <li><%= comments.comment %></li>
</ul>
<form action="" id="commentForm" class="">
    <input id="commentInput" autocomplete="off" />
    <input type="submit">
</form>
