<section class="topBar">
    <h1 class="logo">Comments <span class="logoSpan">|</span></h1>
    <h2>
        Read an article, or be part of one.
    </h2>
    <!-- <h1 id="todayHeader">
    </h1> -->
</section>
