* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --main-bg-color: #2d2d2d;
    --main-text-color: #ffffff;
    --main-highlight-color: #b3b3b3;
    height: 100%;
}

body {
    /*background: linear-gradient(to left, #f7f6ea , #ffffff);*/
    background-color: var(--main-bg-color);
    font-family: sans-serif;
    color: var(--main-text-color);
    overflow-x: hidden;
    background-image: url("../images/main-bg.png");
    height: 100%;
}

/* TOP BAR */
.topBar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15em;
    padding: 1em 1.5em;
    color: var(--main-bg-color);
    background-color: #ff6161;
    z-index: 0;
}

.topBar h1 {
    color: #ffffff;
    font-size: 1.5em;
}
/* ARTICLES */

.articles {
    padding-top: 3em;
    max-width: 50em;
    margin: 0 auto;
}

.articleList {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0 1em;
    padding: 0 1.5em;
}

/*@media screen and (min-width: 35em) {
    .articleList {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
}

@media screen and (min-width: 50em) {
    .articleList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 62em) {
    .articleList {
        grid-template-columns: repeat(5, 1fr);
    }
}*/

.articleList:first-of-type li {
    border-right: 0.2em #ff6161 solid;
}

.articleList:first-of-type li:first-of-type {
    height: 50vh;
    padding:0;
    position: relative;
    border-right: none;
}

.articleList:first-of-type li:first-of-type a .thumbnailWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.articleList:first-of-type li:first-of-type a .thumbnailWrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top,#000000 50%,transparent);
    opacity: .6;
    z-index: 100;
}

.articleList:first-of-type li:first-of-type h1 {
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    width: 100%;
    bottom: 0;
    z-index:101;
    padding-bottom: 1em;
}

.articleList li:first-of-type {
    background-color: #ff6161;
    border:none;
    position: sticky;
    top:0;
    z-index: 109;
    padding:1em;
    min-height: 4em;
    color: var(--main-bg-color);
}

.articleList li:first-of-type h1 {
    font-size: 1.5em;
}

.articleList li {
    position: relative;
    padding: 1em;
    min-height: 8em;
    border-bottom: 0.1em var(--main-bg-color) solid;
    background-color: #ffffff;
    border-right: 0.2em #ff6161 solid;
}

.articleList li a .thumbnailWrapper {
    width: 30%;
    height: 5em;
    overflow: hidden;
    float: left;
}

.articleList li a .thumbnailWrapper img {
    width: auto;
    height: 100%;
}


@media screen and (min-width: 47em) {
    .articleList li a .thumbnailWrapper img {
        width: 100%;
        height: auto;
    }
}

.articleList li h1 {
    display: inline-block;
    padding: 0.2em 0.5em;
    color: var(--main-bg-color);
    width: 70%;
    font-size: 1.1em;
    float: left;
}

.articleList li h2 {
    display: inline-block;
    padding: 0.2em 0.5em;
    color: var(--main-bg-color);
    width: 70%;
    font-size: 1em;
    float: left;
    color: #ff6161;
}

.articleList li p {
    display: inline-block;
    padding: 0 0.5em;
    color: var(--main-bg-color);
    width: 70%;
    font-size: 0.9em;
    float: left;
    color: #ff6161;
    font-weight: bold;
}

/* DETAILPAGE */
.mainWrapper{
    margin: 0 auto;
    /*max-width: 60em;*/
    height: 100%;
}

.articleDetail {
    /*max-width: 50em;*/
    margin: 0 auto;
    width: 100%;
    transition: 0.5s;
}

@media screen and (min-width: 48em) {
    .articleDetail {
        float: left;
        width: 60%;
    }
}

.articleDetail.slideable {
    position: absolute;
    left:0;
}


.articleDetail.slideLeft {
    position: absolute;
    left: -80%;
}

.detailImageWrapper {
    overflow: hidden;
    position: relative;
    height: 30em;
}

.detailImageWrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top,#000000 50%,transparent);
    opacity: .6;
    z-index: 100;
}

.detailImageWrapper img {
    position: absolute;
    top:0;
    height: 30em;
    width: auto;
}

@media screen and (min-width: 55em) {
    .detailImageWrapper img {
        height: auto;
        min-height: 100%;
        width: 100%;
    }
}

.detailImageWrapper .headerQuote {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 80%;
    z-index: 102;
    font-size: 1rem;
    background: none;
}

.detailImageWrapper p {
    position: absolute;
    bottom: 7em;
    left: 2.3em;
    z-index: 102;
    padding: 0.5em;
    font-weight: bold;
    background-color: #ff6161;
    max-width: 85%;
}

.detailImageWrapper h1 {
    position: absolute;
    bottom: 1em;
    left: 1.5em;
    z-index: 102;
    max-width: 85%;
}

.detailContent {
    border-right: 0.5em #ff6161 solid;
    background-color: #ffffff;
    color: var(--main-bg-color);
    padding: 1em 3em 1em 1em;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 48em) {
    .detailContent {
        border-right: none;
    }
}

.detailContent p {
    padding-top: 1em;
    transition: 0.5s;
    max-width: 30em;
    margin: 0 auto;
}

.detailContent .textComment {
    background-color: #ff6161;
    color: #ffffff;
    padding: 1em;
    margin-bottom: 1em;
    transition: 0.5s;
    position: absolute;
    width: 70%;
    right: -70%;
}

.detailContent .textComment:after {
    background-color: inherit;
    right:-3em;
    top:0;
    width:3em;
    height: 100%;
    position: absolute;
    content: "";
}

.detailContent .textComment p {
    margin:0;
    padding:0;
}

.detailContent .textComment span {
    display: block;
    margin:0;
    padding-top: 0.5em;
    font-size: 0.8em;
}

.detailContent .textComment.openComment {
    right:0;
}

.detailContent .textComment .commentIcon {
    position: absolute;
    left:-3em;
    top: 1em;
    width: 2em;
    height: 2em;
    background-image: url("../images/message-icon.png");
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

/* COMMENTS */
.commentsHeader {
    background-color: #ffffff;
    font-size: 1em;
    padding: 0 0 0.5em 2em;
    color: #ff6161;
}

.detailComments {
    /*max-width: 50em;*/
    margin: 0 auto;
    transition: 0.5s;
    background-color: #ff6161;
}

@media screen and (min-width: 48em) {
    .detailComments {
        float: left;
        width: 40%;
        height: 100%;
        right: 0;
        position: fixed;
    }

    .detailComments h2 {
        display: block;
        padding: 1em;
        height: 10%;
    }

    .detailComments form {
        position: relative;
        display: block;
        height: 10%;
        background-color: #ff6161;
    }

    .detailComments ul {
        height: 80%;
        display: block;
        overflow: auto;
    }
}

.detailComments.slide {
    height: 100%;
    width: 80%;
    background-color: #ff6161;
    position: fixed;
    z-index: 99999;
    top:0;
    right:-80%;
}

.detailComments.slide h2 {
    display: block;
    padding: 1em;
    height: 10%;
}

.detailComments.slide form {
    position: relative;
    display: block;
    height: 10%;
    background-color: #ff6161;
}

.detailComments.slide form input[type="text"] {

}

.detailComments.slide ul {
    height: 80%;
    display: block;
    overflow: auto;
}

.detailComments.slide.opened {
    right:0;
}

.commentsList {
    background-color: #ff6161;
    list-style-type: none;
}

.commentsList li {
    border-bottom: 0.1em #ffffff solid;
    position: relative;
    padding: 1em 2em;
    font-size: 0.9em;
    word-break: break-all;
}

.commentsList li .likes {
    display: block;
    font-size: 0.8em;
    padding: 0.5em 0 0 0;
    font-weight: bold;
}

.commentsList li .author {
    display: block;
    font-size: 1em;
    padding: 0;
    font-style: italic;
}

.commentsList li button {
    background-color: #ffffff;
    color: #ff6161;
    cursor: pointer;
    font-weight: bold;
    border: none;
    padding: 1em;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 907;
}

.commentsForm {
    background-color: #ffffff;
    border: none;
}

.commentsForm input[type="text"] {
    background-color: #ffffff;
    color: #ff6161;
    padding: 0.5em;
    font-size: 1rem;
    width: 70%;
    float: left;
    border: 0.1em #ff6161 solid;
}

.commentsForm input[type="submit"] {
    appearance: none;
    background-color: #ffffff;
    border: 0.1em #ff6161 solid;
    color: #ff6161;
    padding: 0.5em;
    font-size: 1rem;
    float: right;
    width: 30%;
    cursor: pointer;
}

.commentsForm input[type="submit"]:hover,
.commentsForm input[type="submit"]:focus {
    background-color: #ff6161;
    color: #ffffff;
}

/* NICKNAME */
.usernameOverlay {
  position: absolute;
  z-index: 9999;
  text-align: center;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:1;
  background: rgba(00, 00, 00, 0.5);
  animation: overlay 0.5s linear;
}

.userForm {
    display: inline-block;
    padding: 1em;
    margin: 2em auto;
    background-color: #ffffff;
    color: #ff6161;
    font-size: 1.5em;
}

.userForm label {
    display: block;
    padding: 1em;
}

.userForm input[type="text"] {
    border: 0.1em #ff6161 solid;
    padding: 0.5em;
    color: #ff6161;
    font-size: 1rem;
}

.userForm input[type="submit"] {
    appearance: none;
    background-color: #ffffff;
    border: 0.1em #ff6161 solid;
    padding: 0.5em;
    color: #ff6161;
    cursor: pointer;
}

.userForm input[type="submit"]:hover,
.userForm input[type="submit"]:focus
 {
    background-color: #ff6161;
    border: 0.1em #ff6161 solid;
    padding: 0.5em;
    color: #ffffff;
}

@keyframes overlay {
  0% {
    opacity: 0;
    left:-110vw;
  }
  80% {
    opacity: 1;
    left:0;
  }
  100% {
    opacity: 1;
    left:0;
  }
}

/* COMMENTS SLIDER */
.showComments {
    background-color: #ff6161;
    border:none;
    outline: none;
    color: #ffffff;
    padding: 1em;
    position: absolute;
    right: 0;
    z-index: 99999;
}

/* GENERAL */

.floatIcon {
    position: absolute;
    right: 1em;
    bottom: 0;
    width: 2.5em;
    height: 2.5em;
    opacity: 0;
    background-image: url("../images/float-icon.png");
    background-size: contain;
    background-position: center;
    z-index: 905;
}

.iconFly{
    z-index: 9999;
    animation: fly 3s linear;
}

@keyframes fly {
  0% {
    right: 1em;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  30% {
    right: 3em;
    opacity: 1;
  }
  80% {
      opacity: 0.4;
  }
  100% {
    right:1em;
    bottom: 100vh;
    opacity: 0;
  }
}

.hide {
    display: none;
}
