<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <section class="articleDetail">
        <% include ../partials/article-detail %>
    </section>

    <script src="/js/script.js"></script>
</body>
</html>
