<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

        <% include ../partials/top-bar %>

        <section class="articles">
            <% include ../partials/article %>
        </section>

    <script src="/js/script.js"></script>
</body>
</html>
